body{
    display:grid;
    justify-content: center;
    background-color: #f0f0f0;
}


canvas{
    background-color: white;
}

.game {
    position: relative;
    display:grid;
    justify-content: center;
    margin-left: -50%;
}

.game canvas,div {
    position: absolute;
    top: 0;
}

.menu, .game_over {
    margin-left: 33%;
    width: 100%;
    height: 100%;
}


.hidden{
    visibility: hidden;
}